<!DOCTYPE html>
<html class="{arguments}" lang="{lang}">
  <head>
    <!--norobotshead-->
    <title>{title}</title>
    <meta name="author" id="author-array" content="{author}">
    <link rel="stylesheet" href="../css/main.css" charset="utf-8">
    <link rel="stylesheet" href="../css/post.css" charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{abstract}">
    <meta charset="utf-8">
  </head>
  <body>
    <script src="../js/citation-js0.0.4-8.js" type="text/javascript"></script>
    <script type="text/javascript">const Cite = require('citation-js');</script>
    <script src="../js/config.js" charset="utf-8"></script>
    <script src="../js/csl-templates.js" charset="utf-8"></script>
    <script src="../../paper/js/citationLibrary.js" charset="utf-8"></script>
    <script type="text/javascript">
    window.PagedConfig = {
      auto: false,
      after: (flow) => { console.log("after", flow) }
    };
    </script>
    <script src="../js/paged.polyfill.js"></script>
    <div class="site-container">
      <header id="site-header">
        <span class="site-name-wrapper"><a href="../" class="site-name">Home</a></span>
        <span class="tool-container">
          <select class="font-selector" name="font-selector">
            <option value="default">Default</option>
            <option value="times">Times</option>
          </select>
          <a class="hide-selector">Trim</a>
          <a class="print-pager">Print</a>
          <a class="quote-highlighter highlighter"><span class="offset">"</span>a<span class="offset">"</span></a>
          <a class="footnote-highlighter highlighter">a<sup class="offset">1</sup></a>
          <a class="spellcheck">a<span class="offset">b</span></a>
        </span>
      </header>
      <main>
        <header id="post-header">
          <h1 class="title">{title}</h1>
          <section class="info">
            <article class="abstract">{abstract}</article><span id="authors">{author}</span><time class="creation-date">{date}</time>
          </section>
        </header>
        <section id="table-of-contents">
        </section>
        <article id="main-article">{markdown}</article>
        <footer class="footnote-container">
          <ol>

          </ol>
        </footer>
        <footer id="bibliography-container">
          <ol></ol>
        </footer>
      </main>
      <footer id="site-footer"><a href="../impressum.html">Impressum / Datenschutzerklärung</a><span>Made with &lt;3 by <a href="https://samswartzberg.com">Sam Swartzberg</a></span></footer>
    </div>
    <script src="../js/tocbot.min.js"></script>
    <script src="../js/post-formatting.js"></script>
    <script src="../js/print.js" charset="utf-8"></script>
    <script src="../js/unit-tests.js" charset="utf-8"></script>
  </body>
</html>
